@model IEnumerable<E.P.C.Models.AIO>

@{
    ViewData["Title"] = "Index";
}

<h1>All-In-One Cooling Systems:</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a class="btn btn-primary" asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RadiatorSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PumpSpeed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FanSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FanRPM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoiseLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportedSockets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RadiatorSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PumpSpeed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FanSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FanRPM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoiseLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportedSockets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Price)₪
            </td>
            <td>
                    <img src="@Url.Content(item.ImageUrl)" />
            </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {

                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">View Details</a>
                    @if (!User.IsInRole("Admin"))
                    {
                        <form asp-controller="ShoppingCart"
                              asp-action="Add"
                              method="post">
                            <input type="hidden" name="itemId" value="@item.Id" />
                            <button type="submit" class="btn btn-primary">
                                Add To Cart
                            </button>
                        </form>
                    }
                </td>
        </tr>
}
    </tbody>
</table>
