@model E.P.C.Models.CPU

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CPU</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cores)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cores)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Threads)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Threads)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaseClock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaseClock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoostClock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoostClock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SocketType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SocketType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
