@model E.P.C.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Product Details</h1>


    @if (Model is GPU gpu)
    {
        <hr />
        <tr>
            <th>Brand:</th>
            <td>@gpu.Brand</td>
        </tr>
        <hr />
        <tr>
            <th>Model:</th>
            <td>@gpu.Model</td>
        </tr>
        <hr />
        <tr>
            <th>Memory Size:</th>
            <td>@gpu.MemorySize</td>
        </tr>
        <hr />
        <tr>
            <th>Memory Type:</th>
            <td>@gpu.MemoryType</td>
        </tr>
        <hr />
        <tr>
            <th>Base Clock:</th>
            <td>@gpu.CoreClock</td>
        </tr>
        <hr />
        <tr>
            <th>Max Clock:</th>
            <td>@gpu.BoostClock</td>
        </tr>
        <hr />
        <tr>
            <th>TDP:</th>
            <td>@gpu.TDP</td>
        </tr>
        <hr />
        <tr>
            <th>Interfaces:</th>
            <td>@gpu.Interface</td>
        </tr>
        <hr />
        <tr>
            <th>Dimensions:</th>
            <td>@gpu.dimensions</td>
        </tr>
        <hr />
        <tr>
            <th>Prots:</th>
            <td>@gpu.Ports</td>
        </tr>
        <hr />
    <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
    @if (!User.IsInRole("Admin"))
    {
        <form asp-controller="ShoppingCart"
              asp-action="Add"
              method="post">
            <input type="hidden" name="itemId" value="@gpu.Id" />
            <button type="submit" class="btn btn-outline-success">
                Add to Cart 🛒
            </button>
        </form>
    }
    }
