@if (User.IsInRole("Admin"))
{
    <a asp-action="Create" class="btn btn-success mb-3">
        ➕ Add Product
    </a>
}

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <img src="@product.ImageUrl" class="card-img-top" />

                <div class="card-header">
                    <h5 class="card-title">@product.Description</h5>
                    <p class="card-text fw-bold">₪@product.Price</p>
                </div>

                <div class="card-body bg-transparent">
                    <a asp-action="Details"
                       asp-route-id="@product.Id"
                       class="btn btn-outline-primary w-100">
                        View Product
                    </a>
                </div>
                @if (User.IsInRole("Admin"))
                {
                    <div class="card-footer bg-transparent d-flex align-items-center gap-2">
                    <a asp-action="Edit" 
                        asp-route-id="@product.Id"
                        class="btn btn-outline-dark w-75" >
                        Edit Product
                    </a>
                    <hr class="divider" />
                    <a asp-action="Delete" 
                        asp-route-id="@product.Id" 
                        class="btn btn-outline-danger w-75" >
                        Delete Product
                    </a>
                    </div>
                }
            </div>
        </div>
    }
</div>

