@model IEnumerable<E.P.C.Models.Product>

    @{
    ViewData["Title"] = "Index";
    }

    <h1>Products</h1>
    <form asp-action="Index" method="get" class="mb-3">
        <input type="text" name="searchDescription" value="@Context.Request.Query["searchDescription"]" placeholder="Search by description..." class="form-control" />
        <button type="submit" class="btn btn-secondary mt-2">Search</button>
    </form>

    <p>
        <a class="btn btn-primary" asp-action="Create">Create New Product</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImageUrl)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)₪
                </td>
                <td>
                    <img src="@Url.Content(item.ImageUrl)" />
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
}
        </tbody>
    </table>
