<form asp-action="Index" method="get" class="mb-3">
    <input type="text" name="searchDescription" value="@Context.Request.Query["searchDescription"]" placeholder="Search for product..." class="form-control" />
    <button type="submit" class="btn btn-success mt-2">Search</button>
</form>
@if (User.IsInRole("Admin"))
{
    <a asp-action="Create" class="btn btn-success mb-3">
        ➕ Add Product
    </a>
}

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <img src="@product.ImageUrl" class="sizable"/>

                <div class="card-body card-info">
                    <h5 class="card-title modelname">@product.Brand @product.Model</h5>
                    <p class="card-text price">₪@product.Price</p>
                </div>

                <div class="card-body bg-transparent">
                    <a asp-action="Details"
                    asp-route-id="@product.Id"
                    class="btn btn-details w-100">
                        View Product
                    </a>
                    @if (!User.IsInRole("Admin"))
                    {
                        <a asp-controller="ShoppingCart"
                              asp-action="Add"
                              method="post">
                            <input type="hidden" name="itemId" value="@product.Id" />
                            <button type="submit" class="btn btn-shop w-100">
                                Add to Cart
                            </button>
                        </a>
                    }
                </div>
                @if (User.IsInRole("Admin"))
                {
                    <div class="card-footer bg-transparent d-flex align-items-center gap-2">
                        <a asp-action="Edit" 
                        asp-route-id="@product.Id"
                        class="btn btn-outline-dark w-75" >
                            Edit Product
                        </a>
                        <hr class="divider" />
                        <a asp-action="Delete" 
                        asp-route-id="@product.Id" 
                        class="btn btn-outline-danger w-75" >
                            Delete Product
                        </a>
                    </div>
                }
                
            </div>
        </div>
    }
</div>


<style>
    .sizable {
        height: 400px;
        width: 400px;
    }
    .price{
        color:green;
        font-size: xx-large;
        font-weight: bold;

    }
    .modelname{
        font-size: large;
    }
    .btn-shop{
        color: black;
        font-size: x-large;
        background: gold;
        outline-width: medium;
        outline-color:black;
        outline-style: solid;
        margin-top: 10px;
        cursor:pointer;
    }
    .btn-shop:hover{
        transform: scale(1.03);
        background: orange;
        color: black;
        overflow-y:clip;
    }
    .btn-details{
        color:black;
        font-size: x-large;
        font-weight: bold;
        background: lightskyblue;
        outline-color:cornflowerblue;
        outline-style:solid;
        outline-width: medium;
    }
    .btn-details:hover{
        transform:scale(1.03);
        background:cornflowerblue;
        outline-color:skyblue;
    }

</style>
